.ul1{
   background-color: rgb(32,37,41) ; 
   width: 25vw;
   height: 86vh;
   margin-top: -16px;

}
li{
display: flex;
padding: 40px;
color: white;
}
/* .ul2{
    display: none;
} */
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: rgb(114, 114, 216);
    text-decoration: underline;
}