<div class="nav">
    <ul>
        <img src="../../images/logo.png" alt="">
        <li> <a class="nav-link" href="/home">Home</a></li>
        <li> <a class="nav-link" routerLink="/admin">Admin Login</a></li>
        <li><a class="nav-link" routerLink="/login" href="#"> User Login</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
<img src="../../images/home1.png" alt="" style="width: 40vw;
height: 45vh;
margin-left: 24pc;
margin-top: 90px;">
<button class="btn btn-dark" style="    position: absolute;
    top: 80%;
    left: 39%;" routerLink="/login">Create your first service</button>
<h4 style="    position: absolute;
    left: 33%;
    margin-top: 94px;color: aliceblue;">Click Above button to get started!</h4>