<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<ul class="ul1">
    <li> <span class="material-symbols-outlined">
            home
        </span> DashBoard</li>
    <li><span class="material-symbols-outlined">
            description
        </span>Document </li>

    <li><a routerLink="/adddocument"> Add Document</a></li>
    <li><a routerLink="/managedoc"> Manage Document</a></li>
    <li> <a href=""> Sharex </a></li>
    <li><span class="material-symbols-outlined">
            logout
        </span><a routerLink=""> Logout</a></li>
</ul>
<router-outlet></router-outlet>
<div class="card">
    <div class="container">
        <h3>DashBoard</h3>
        <hr>
        <div class="grid">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h4 style="margin-left:17pc ;">Welcome to user Dashboard</h4>
    </div>
</div>