<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="card">
    <div class="container">
        <h3>Enter OTP</h3>
        <hr>
        <div class="grid">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h4>Check the mail for OTP</h4>
        <form [formGroup]="otpForm">
            <div class="form-group">
                <label for="username">OTP:</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" formControlName="otp">
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="checkotp(this.otpForm.value)">
                Validate</button>
            <button type="button" class="btn btn-outline-dark" (click)=" this.otpForm.reset()">
                cancel</button>
        </form>
    </div>
</div>