<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<ul class="ul1">
    <li> <span class="material-symbols-outlined">
            home
        </span> DashBoard</li>
    <li><span class="material-symbols-outlined">
            description
        </span>Document </li>

    <li><a routerLink="/adddocument"> Add Document</a></li>
    <li><a routerLink="/managedoc"> Manage Document</a></li>
    <li> <a href=""> Sharex </a></li>
    <li><span class="material-symbols-outlined">
            logout
        </span><a routerLink=""> Logout</a></li>
</ul>
<router-outlet></router-outlet>
<div class="card">
    <div class="container">
        <div class="card mx-auto" style="height: 47vh;
        width: 32vw; margin-top:80px; background-color: rgb(201, 195, 195);">

            <div class="card-body" style="margin-top:10px; ">
                <form [formGroup]="upload" (ngSubmit)="submit()">
                    <img src="../../images/logo.png" style="width:10vw;height:14vh;margin-left:10px" alt=""> <span
                        class="material-symbols-outlined">
                        File Upload
                    </span>
                    <div class="form-group">
                        <label for="file">Upload :</label>
                        <input type="file" name="password" class="form-control" placeholder="Upload File"
                            formControlName="files" id="document" (change)="checkduplicate($event)">
                    </div>
                    <div style="margin-top: 20px;">
                        <button type="submit" class="btn btn-outline-dark">Upload </button>
                        <button type="button" class="btn btn-outline-dark">Cancel</button>
                    </div>
                </form>
                <p style="margin-left:80px;margin-top:20px">{{notify}}</p>
            </div>
        </div>
    </div>
</div>