.card{
    background-color: white;
    width: 30vw;
    height: 50vh;
    margin: auto;
  margin-top: 15vw;;
}
input{
    margin-top: 3vh;
    
}
button{
    margin-left: 10px;
    margin-top: 20px;
}
.heading{
    font-size: larger;
    color: aqua;
    font-weight: 900;
}
.signup{
    margin-top: -8%;
    margin-left: 85%;
}