<div class="container">
    <div class="card mx-auto">
        <div class="card-header text-center">
            <h1> User Login</h1>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label for="username">User Name:</label>
                    <input type="text" name="username" class="form-control" placeholder="Enter Username"
                        formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Your Password"
                        formControlName="password">
                </div>
                <div>
                    <button type="button" class="btn btn-outline-dark" (click)="userFormData(this.userForm.value)">
                        Login</button>
                    <button type="button" class="btn btn-outline-dark" (click)=this.userForm.reset()>Cancel</button>
                </div>
                <div class="signup"> <a routerLink="/register" style="color: red;"> Signup </a>
                </div>
            </form>
        </div>
    </div>

</div>