<div class="container">
    <div class="card mx-auto">
        <div class="card-header text-center">
            <h1>Sign Up Form</h1>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="username">Username :</label>
                    <input type="text" name="username" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="first_Name">First Name :</label>
                    <input type="text" name="first_Name" class="form-control" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="last_Name">Last Name :</label>
                    <input type="text" name="last_Name" class="form-control" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Your Email ">
                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password :</label>
                    <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-danger">Register </button>
                    <button type="button" class="btn btn-danger">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>